%p{style: "color: green"}= notice

%h1 Todos

%table.table.table-striped
  %thead
    %tr
      %th Done
      %th Title
      %th Actions

  %tbody#todos
    - @todos.each do |todo|
      %tr{ id: dom_id(todo) }
        %td= todo.done
        %td= todo.title
        %td
          = link_to "Show", todo
          = link_to "Edit", edit_todo_path(todo)
          = link_to "Destroy", todo, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

= link_to "New todo", new_todo_path
